.container-fluid{:class => (signed_in? ? "signed-in" : nil)} 
  .row
    .sidebar
      .navbar.navbar-default
        %a{href: root_url}
          = image_tag c("site.logo"), :alt => t("titles.main", :brand_name => c('brand.brand_name'), :city => c("city.name")), :title => t("titles.main", :brand_name => c('brand.brand_name'), :city => c("city.name"))
        %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      .sidebar-content
        -# Corresponds to guideline div below 
        %div.hidden-xs
          %h3.text-center
            = t("titles.adopted_tagline", :count => Thing.adopted(current_city).count, :things => t("defaults.things"), :city => c("city.name"), :action_past => c("brand.adopted"))
            .small
              Last updated
              = local_date(Time.now, '%B %e, %Y')
          %a.details{:href => "#details", :"data-toggle" => "modal", :"data-target" => "#details"}
            %button.btn.btn-block.btn-primary#tagline
              = t("defaults.tagline", :default_tagline => c("brand.default_tagline"))
        #content
          = render :partial => "layouts/flash", :locals => {:flash => flash}
          - if signed_in?
            = render :partial => "sidebar/search"
          - elsif @reset_password_token.present?
            = render :partial => 'passwords/edit'
          - else
            - video_url = c("site.video")
            - if video_url.present?
              %iframe{ :width => "100%", :src => video_url, :frameborder => "0", :allowfullscreen => "allowfullscreen" }
            = render :partial => "sidebar/search"
        -# Corresponds to guideline div above
        %div.hidden.visible-xs-block
          %a.details{:href => "#details", :"data-toggle" => "modal", :"data-target" => "#details"}
            %button.btn.btn-block.btn-primary#tagline
              = t("defaults.tagline", :default_tagline => c("brand.default_tagline"))
        #logos
          .row.sidebar-logo-row
            .col-xs-1
            .col-xs-4
              %a{:href => c("city.url")}
                = image_tag c("city.logo"), :alt => c("city.title"), :title => c("city.title"), :class => "puc"
            .col-xs-2
            .col-xs-4
              %a{:href => "https://mysticriver.org/"}
                = image_tag "logos/mrwa-logo.png", :alt => "Mystic River Watershed Association", :title => "Mystic River Watershed Association", :class => "dpw"
            .col-xs-1
          .row.sidebar-logo-row
            .col-xs-1
            .col-xs-4
              %a{:href => "https://www.mass.gov/orgs/massachusetts-department-of-environmental-protection"}
                = image_tag "logos/massdep-logo.png", :alt => "Massachusetts Department of Environmental Protection", :title => "Massachusetts Department of Environmental Protection", :class => "datasf"
            .col-xs-2
            .col-xs-4
              %a{:href => "mailto:j.korenstein@gamedaymatchup.net?subject=Inquiry about technology behind Adopt-a-drain"}
                = image_tag "logos/coronado.png", :alt => "Coronado Consulting", :title => "Coronado Consulting", :class => "datasf"
            .col-xs-1
    .col-md-9.map-container
      #map
        &nbsp;
      #legend
        .title
          Legend
        .show-hide
          %a#toggleLegend{:href=>"#"}
            Hide
  = render :partial => c("city.tos_partial_name"), layout: "layouts/modal", locals: {id: "tos", title: "Volunteer Waiver & Release Of Liability"}
  = render :partial => c("brand.details_partial_name"), layout: "layouts/modal", locals: {id: "details", title: "What Does it Mean To #{c("brand.imperative").capitalize()} a Drain?"}
:javascript
  this.config = #{current_config.to_json.html_safe}
  $(function() {
    $('.navbar-toggle').on('click', function(){
      $('div.sidebar').toggleClass('sidebar-full');
    });
  });
