-# called if user is municipal admin
-# for reference - %adopt.haml.html


Administration Page
%h2
  = @thing.display_name.titleize

-# problem - the 2 submits are getting confused.  can't have more than one submit on a form?
-# solution - use radio button 2 alternate between the 2 forms 
-# see combo form 


%h2
= form_for :thing, :url => things_path, :method => :put, :html => {:id => "adoption_form"} do |f|
  = f.hidden_field "id"
  -# to remove ownership of drain change name and user_id to nil

  -# = f.hidden_field "user_id", :value => nil
  -# = f.hidden_field "display_name", :value => nil
  -# %fieldset.form-group
    -# = f.submit "Free this drain", :class => "btn btn-primary btn-block"
  -# = render partial: 'things/detail'    

.break 

-# how does hitting the adopt button actually adopt a drain?
-# what endpoint does it call to change the db?

%h2
= form_for :thing, :url => things_path, :method => :put, :html => {:id => "adoption_form"} do |f|
  = f.hidden_field "id"
  = f.hidden_field "user_id", :value => @thing.user_id
  %fieldset.form-group
    = f.label "name", "Rename this drain", :class => "control-label"
    = f.text_field "adopted_name", :value => @thing.display_name.titleize, :class => "form-control"
  %fieldset.form-group
    = f.submit "Rename", :class => "btn btn-primary btn-block"

  = render partial: 'things/detail'