%h2 Terms of Service

%p
  I am voluntarily participating in the #{c("city.title")}’s #{c("brand.name")} program. I have read and agree to follow the Volunteer Guidelines, below and as you click on "What Does it Mean?" on the <a target="_blank" href=#{request.original_url}>site</a>.   I acknowledge that participating in these events involves inherent risks, and I accept full responsibility for any associated liability and risk. By signing up, I confirm that I am 18 years of age or older.

%p
  By signing up, I agree to allow #{c("city.title")} to send me emails related my chosen drains.

%p
  I understand that as a volunteer, I have control over the dates and times of my work. #{c("city.title")} is not responsible for scheduling my volunteer activities or monitoring my compliance with the guidelines. I affirm that I am not receiving any compensation or consideration for my participation, and I have read, understood, and freely and willingly agreed to the release and hold harmless provisions stated below.

%p
  I agree to release, waive, and forever discharge the #{c("city.title")} (“the #{c("city.type")}”) and the Commonwealth of Massachusetts ("the State"), as well as their employees, departments, officers, and agents, from any and all claims or demands arising from accidents, illnesses, injuries, losses, destruction, or property damage directly or indirectly resulting from my participation in this activity. I further agree not to pursue any legal action against the #{c("city.title")} or the Commonwealth of Massachusetts, or their employees, departments, officers, and agents, for any injury, loss, or damage arising from my participation in this activity, regardless of whether it is caused by negligence or otherwise.

%p
  This Waiver and Release is binding on my heirs, executors, administrators, assigns, and all of my family members. It applies to all losses, known or unknown, suspected or unsuspected, related to my participation in this activity.

%p
  Last updated October 15, 2023.

